
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg,  #1f3c53 0%,#153452 50%,#071427 100%);
    border-bottom: 1px solid #2b2141;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 0.6rem 2rem;
    margin-bottom: 3rem;
}

.img {
    position: relative;
    max-width: 100px;
    max-height: 60px;
    bottom: -3px;
}

.span {
    position: relative;
    color: white;
    font-size: large;
    left: 1px;
    text-decoration: none;
}

.about {
    color: white;
    text-decoration: none;
}

.input {
    border-radius: 7px;
    margin-right: 3px;
    height: 1.8rem;
}

.btn {
    color: black;
    border: 2px rgb(255, 255, 1) solid;
    background-color: rgb(255, 255, 1);
    border-radius: 7px;
    text-align: center;
    width: 6rem;
    height: 1.8rem;
}

.btn:hover {
    color: rgb(255, 255, 1);
    border: 2px rgb(255, 255, 1) solid;
    background-color: black;
}